@font-family-header: 'Playfair Display', serif;
@font-family-body: 'Lato', sans-serif;
@color-grey : rgba(66, 66, 66, 1);


body, a {
    background: #ddd;
    color: #333;
}
a {
    font-weight: bold;
    text-decoration: underline;
}

header {
    //background: #ddd;
    display: flex;    
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 2.5rem auto;
    text-align: center;
    z-index: 3000;
        .logo {
            /*left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;*/
            margin: 0 auto;
            img {
                max-height: 100px;
            }
        }
        .title {
            font-family: @font-family-header;
            font-size: 6.5rem;
            margin: 4rem auto 1rem auto;
            max-width: 75rem;
            line-height: 1.3;
        }
        .author {
            font-family: @font-family-body;
            font-size: 1.2rem;
            margin-top: 1rem;
            padding-bottom: 3rem;
        }
}
.intro  {
    p {
        
    }
}


streamgraph {
    height: 100vh;
    width: 100%;

    & > div.streamgraph {
        display: block;
        height: 100vh;
        position: relative;
        width: 100%;
        
        .topic-words-placeholder {
            position: absolute; // relative to parent
            width: 300px;
            >  .topic-word {
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(255, 255, 255);
                box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.12);
                color: rgb(58, 58, 58);
                font-family: @font-family-header;
                float: left;
                margin: 3px;
                opacity: 1;
                padding: 4px 10px;
                text-align: center;
                text-decoration: none;
            }
        }

        svg {
            path {
                &:hover {
                    cursor: pointer;
                    stroke: teal;
                    stroke-width: 1px;
                }
            }
            line.current-date {
                stroke-dasharray: 2,2;
                opacity: 0.3;
            }
            text.current-date {
                font-family: sans-serif;
                font-size: 10px;
                text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
            }
        }
    }   
}





/** generic tooltip ********/
.node-tooltip {
    display: none;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    color: rgb(68, 68, 68);
    font-family: @font-family-body;
    font-weight: 200;
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px;
    max-height: 300px;
    z-index: 2000;
    top: 7px;
    left: 721px;
    .node-tooltip-container {
        background-color: rgb(255, 255, 255);
        opacity: 0.95;
        padding: 6px;
        width: 300px;

        .node-tooltip-header {
            position: relative;
            z-index: 1;

            .node-tooltip-title, .node-tooltip-subtitle {
                font-family: @font-family-body;
                font-weight: bold;
                color: @color-grey;
                vertical-align: top;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                z-index: 1;
                font-size: 12px;
                line-height: 17px;
                padding: 3px;
                width: 100%;
            }
            .node-tooltip-subtitle {
                color: grey;
                font-size: 12px;
                font-weight: normal;
                padding-top: 0px;
                padding-bottom: 12px;
            }
        }

        .node-tooltip-data-container {
            overflow-y: auto;
            z-index: -1;
            max-height: 200px;

            .node-tooltip-data-block {
                font-size: 11px;
                padding: 3px 6px;
                position: relative;
                color: rgb(0, 0, 0);
                .node-tooltip-data-name {
                    display: inline-block;
                    width: 65%;
                    min-height: 15px;
                }
            
                .node-tooltip-data-value {
                    display: inline-block;
                    text-align: right;
                    width: 35%;
                    font-weight: 600;
                }
            }

            .node-tooltip-data-separator {
                background-color: rgb(221, 221, 221);
                display: block;
                height: 1px;
                margin: 0px 3px;
            }
        }

        .node-tooltip-footer {
            font-size: 12px;   
            margin-top: 5px;         
            text-align: center;
        }

        // this override styles from vega.less
        #node-tooltip-viz-container {
            width: 100%;
            g.role-axis {
                .role-axis-domain line,
                .role-axis-tick line {
                    stroke-width: 0 !important;
                }
                .role-axis-label text {
                    fill: @color-grey !important;
                }
            }
        }
    }
}
